In [2]:
#question 1
a = float(input('distance in kms: '))
b = a * 0.621371
print('distance in miles: ', b)

distance in kms:  47

distance in miles:  29.204437

In [4]:
#question 2
a = float(input('tempr in celcius: '))
b = (a * 1.8) + 32
print('tempr in farenheit: ', b)

tempr in celcius:  47

tempr in farenheit:  116.60000000000001

In [5]:
#question 3
import calendar
yy = int(input("Enter year: "))
mm = int(input("Enter month: "))

print(calendar.month(yy, mm))

Enter year:  2005
Enter month:  12

   December 2005
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [6]:
#question 4
import math
a = int(input())
b = int(input())
c = int(input())

d = (b**2 - (4*a*c))

sol_1 = (-b + math.sqrt(d)) / (2*a)
sol_2 = (-b - math.sqrt(d)) / (2*a)

print(sol_1 , sol_2)

 1
 2
 1

-1.0 -1.0

In [7]:
#question 5
x = int(input("value1 = "))
y = int(input("value2 = "))
print(x,y)
x,y = y,x
print(x,y)

value1 =  89
value2 =  69

89 69
69 89